@use '../base/vars' as *;
.navigation{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 3rem;
    align-items: center;
    width: 100%;
    z-index: 1000;
    .navigation-logo-container{
        display: none;
    }
    .navigation-bar{
        display: none;
    }
    .burger-menu{
        top: 0;
        left: 0;
        z-index: 1000;
        margin: 15px;
        .burger-closed{
            margin-left: auto ;
        }
    }
    .burger-menu-links{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        background-color: $white;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        text-align: center;

        ol{
            list-style: none;
            padding: 4rem;
            li{
                margin-top: 3rem;

            }
            li a{
                color: $darkblue;
                text-decoration: none;
                font-weight: 800;

            }
        }
    }
}
.top-section-homepage-tablet{
    display: none;
}
.top-section-homepage-desktop{
    display: none;
}
.top-section-homepage, .top-section-homepage-tablet > div{
    a{
        text-decoration: none;
    }
    width: 100%;
    > div{
    height: 4rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
        &.dark{
            background-color: $darkblue;
        }
        &.light{
            background-color: $lightblue;
        }}
}
.calendar-home{
    margin-top: 4rem;
    .calendar-months{
        padding-left: 2rem;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        li{
            list-style: none;
            margin-right: 1rem;
            &.selected{
            text-decoration: underline;}
        }
    }
    .calendar-events{
        list-style: none;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 3rem;
        li{
            display: grid;
            grid-template-columns: min-content;
            grid-template-rows: min-content;
            grid-column-gap: 10px ;
            margin-bottom: 1rem;

            > div{
                grid-column: 0/1;
                grid-row: span 2;
                height: 60px;
                width: 80px;
                color: $white;
                background-color: $lightblue;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h3{
                    font-weight: 800;
                    font-size: 1.5rem;
                    margin: 0;
                }
                p{
                    margin: 0;
                }
            }
            h2{
                grid-column: 2/-1;
                margin: 0;
                font-size: 1.2rem;
            }
            p{
                grid-column: 2/-1;
                margin: 0;
            }
        }
    }
}

@media only screen and (min-width: 820px) {   
.navigation{
    // display: flex;
    // height: 3rem;
    // align-items: center;
    // width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    .navigation-bar{
        display: flex;
    }
    .burger-menu{
        display: none;    
    }
    .burger-menu-links{
        display: none;
    }
    .navigation-logo-container{
        display: block;
        padding: 0;
        
        a{
            display: grid;
            grid-template-columns: min-content;
            grid-column-gap: 0.5rem;
            color: $darkblue;
            text-decoration: none;
            height: 3rem;
            img{
                grid-column: 0 / 1;
                grid-row: span 2;
            }
            h2{
                font-size: 14px;
                grid-column: 2/-1;
                margin: 0 0 ;
                padding: 0 0 ;
                align-self: flex-end;
            }
            p{
                font-size: 14px;
                grid-column: 2/-1;
                margin: 0 0 ;
                padding: 0 0 ;
                align-self: flex-start;
            }
        }
        img{
            height: 3rem;
            width: auto;
        }
    }
    ol{
        display: flex;
        margin-left: auto;
        list-style: none;
        li a{ 
        padding-right: 1rem ;
        text-decoration: none;
        color: $darkblue;}
    }
} 
.top-section-homepage{
    display: none;
}
.button-top-part{
    z-index: 1000;
    display: initial;
    position: absolute;
    background-color: $darkblue;
    color: $white;
    width: 80%;
    text-align: center;
    margin-left: 1.5rem;
    top: 70%
}
.top-section-homepage-desktop{
    display: none;
}
.top-section-homepage-tablet{
    display: flex;
    div > div{
        height: 14vw;
    }
    div> div >a{
        display: flex;
        justify-content: space-between;
        color: $white;
        text-decoration: none;
        p, ul{
            width: 14rem;
        }
    }
    .apply{
        width: 38vw;
        height: 65vw;
        position: relative;
        margin-left: 0.5rem;
        h1{
            background-color: $lightblue;
            color: $white;
            position: absolute;
            top: 70%;
            z-index: 100;
            padding: 1rem;
            text-align: center;
            margin: 0 auto;
            width: 100%;
        }
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            padding: 0.5rem 0;
            z-index: 10;
        }
    }
}
}
@media only screen and (min-width: 1000px) {
    .navigation {
        width: 100%;
    }
}
@media only screen and (min-width: 1400px) {
    .navigation {
        width: 100%;
        max-width: 1400px;
        left: calc((100vw - 1400px) * 0.5);
    }
    .top-section-homepage-tablet{
        display: none;
    }
    .calendar-lucky-number{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .top-section-homepage-desktop{
        display: block;
        
       .desktop-top-section{ 
        display: flex;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        height: 35rem;
        flex-direction: row;
        column-gap: 1rem;
        a{
            text-decoration: none;
            color: white
        }
        .covid-and-specializations{
            display: flex;
            flex-direction: column;
            width: 40%;
            row-gap: 1rem;
            p{
                margin: 1rem 2rem;
                width: 300px
            }
            .covid-info {
                width: 100%;
                height: auto;
                background-color: $darkblue;
                padding-bottom: 2rem;
            }
            .specializarions{
                width: 100%;
                position: relative;
                background-color: $lightblue;
                height: 100%;
                img{
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    object-fit: cover;

                }
            }
        }
    }
    .idziennik, .apply{
        a{
            height: auto;
            width: auto;
            z-index: 100;
        }
    }
    .idziennik, .students, .apply{
        position: relative;
        height: 100%;
        width: 20rem;
        background-color: $darkblue;
        &.light{
            background-color: $lightblue;
            img{
                width: auto;

            }
        }
        .title-container{
            width: 75%
        }
        .button{
            position: absolute;
            width: 80%;
            background-color: $darkblue;
            z-index: 100%;
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: 10;
        }
    }
}

}